@bg: black;
@fg: white;

html, body {
    font-family: sans-serif;
    
    text-align: center;
    background-color: @bg;
        .col-md-9 {
          margin: 0;
          padding: 0;
          background-color: white;
          
          .page-header {
              border: 0px;
              h1 {
                font-family: serif;
              }
           }
        }
        
        .site {
            color: @bg;
            background-color: @fg;
            text-align: left;
            padding-left: 1em;
            padding-right: 1em;
            margin: 0;
            
            h2 {
                margin: 0;
                padding: 0;
                font-size: 14px;
                span {
                }
            }
            
              a.float-left {
                  float: left;
                  margin: 0px 10px 5px 0px;
              }
            
            .footer {
                color: silver;
                font-style: italic;
                
            }
        }
}

div.highlight {
    line-height: 1.2;
    margin: 0;
    padding: 0px 3px 0px 3px;
    background-color: #fdf8ce;
    border: 1px solid silver;
}
