---
layout: default
title: Franto.sk
---

{% for post in site.posts %}

	<h2><span>{{ post.date | date_to_string }}</span>{{ post.title }}</h2>
	<div class="post">
	{{ post.content }}
	</div>
	<br style="clear: both" />

{% endfor %}





<!-- 
<div id="home">
  <ul class="posts">
	{% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		<p class="meta">{{ post.date | date_to_string }}</p>
		{{ post.content }}
    {% endfor %}
  </ul>
</div>
-->
