<!DOCTYPE html>
<html lang="sk">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		 

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.css">
		<link rel="stylesheet/less" href="{{ site.url }}/css/custom.less">
		
		<!-- javascript -->
		<script type="text/javascript" src="{{ site.url }}/js/less.js"></script>
		<script type="text/javascript">
			less.poll = 300;
			less.watch();
		</script>
	</head>
	<body>
		<div class="container">
			<div class="site">
				<div class="header">
					<h1 class="title">Franto.sk</h1>
				</div>

				{{ content }}

				<div class="footer">
					<div class="contact">
						<p>
						    generated {{ site.time | date_to_string }} by frantisek.durajka [at] gmail [dot] com
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>